<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="fuService" factory-method="createInstance" class = "cm.ps.springdojo.service.FooService">
        <constructor-arg type="java.lang.String" value="message"/>
    </bean>


    <bean name="prototypeBean" factory-method="createInstance" class="cm.ps.springdojo.model.PrototypeBean" scope="prototype">
        <constructor-arg type="java.lang.String" value="message"/>
    </bean>

    <bean name="setterbasedBean" class="cm.ps.springdojo.model.SetterbasedBean">
        <property name="attr1"><value>val1</value></property>
        <property name="attr2"><value>val2</value></property>
        <property name="attr3"><value>val3</value></property>
        <property name="attr4"><value>val4</value></property>
        <property name="attr5"><value>val5</value></property>
    </bean>

</beans>